body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    font-weight: 400;
    color: #777;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
.swiper-content{
    width: 60% !important;
    top: 50% !important;
}
.max-w-550{
    width: 100%;
    max-width: 750px;
    margin: auto;
}
.banner .slider,.banner .banner-main,.banner{
    height: 500px !important;
}
.banner-450{
    height: 450px !important;
}
#popupFormBox{
    top:-150%;
    position: fixed;
    /* transition: .5s; */
}
.banner .slider .swiper-container .swiper-slide.image-2 .slide-inner .slide-image{
    background-position: initial;
}
.why-us-item{
    height: 100%;
}
#popupFormBox.active{
    position: fixed;
    /* bottom: 50%; */
    top: 50%;
    background-color: #fff;
    z-index: 100;
    left: 50%;
    max-width: 550px;
    width: 100%;
    transform: translate(-50%,-50%);
}
.popup_form h2 {
    font-size: 24px;
    color: #ffffff;
    background-color: #ea9c00;
    padding: 10px;
    border-radius: 5px 5px 0 0px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.popup_form .form-group input {
    width: 48%;
}

.popup_form form input {
    border: none;
    border-bottom: 1px solid #a4a4a4;
    border-radius: 0;
}
.popup_form .form-group {
    display: flex;
    justify-content: space-between;
}
.main_btn {
    color: rgb(255, 255, 255);
    background-color: rgb(234 156 0);
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.bg-shadow.active{
    position: fixed;
    background-color: rgb(0 0 0 / 64%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.single_desc {
    margin-bottom: 20px;
}
.single_desc p {
    margin-bottom: 10px;
}
.single_desc .heading {
    font-weight: 400;
    font-size: 20px;
    color: #ea9c00;
}
.slick-track{
    display: flex !important;
    align-items: center;
}
.swiper-slide.swiper-slide-prev{
    margin-right: 0 !important;
    /* padding-right: 30px !important; */
}






.trend-content1{
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    width:100%;
    z-index:1;
}



.trending {
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.trending .trend-item, .trending .trend-item1, .trending .trend-item2 {
    position: relative;
    overflow: hidden;
}
.trending .trend-item::before, .trending .trend-item1::before, .trending .trend-item2::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 4px;
    z-index: 2;
}
.trending .trend-item .trend-meta, .trending .trend-item1 .trend-meta, .trending .trend-item2 .trend-meta {
    position: absolute;
    top: -28px;
    right: 20px;
}
.trending .trend-item .trend-image, .trending .trend-item1 .trend-image, .trending .trend-item2 .trend-image {
    position: relative;
}
.trending .trend-item .trend-image img, .trending .trend-item1 .trend-image img, .trending .trend-item2 .trend-image img {
    width: 100%;
}
.trending .trend-item .trend-image .trend-content, .trending .trend-item1 .trend-image .trend-content, .trending .trend-item2 .trend-image .trend-content {
    z-index: 1;
}
.trending .trend-item .trend-image, .trending .trend-item1 .trend-image, .trending .trend-item2 .trend-image, .trending .trend-item .trend-image1, .trending .trend-item1 .trend-image1, .trending .trend-item2 .trend-image1 {
    overflow: hidden;
}
.trending .trend-item .trend-content1, .trending .trend-item1 .trend-content1, .trending .trend-item2 .trend-content1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}
.trending .trend-item:hover::before, .trending .trend-item1:hover::before, .trending .trend-item2:hover::before {
    width: 100%;
}
.trending .trend-item:hover .trend-image img, .trending .trend-item1:hover .trend-image img, .trending .trend-item2:hover .trend-image img {
    transform: scale(1.1);
}
.trending .trend-item:hover .color-overlay, .trending .trend-item1:hover .color-overlay, .trending .trend-item2:hover .color-overlay {
    height: 100%;
}
.trending .trend-item:hover .color-overlay, .trending .trend-item1:hover .color-overlay, .trending .trend-item2:hover .color-overlay {
    height: 100%;
}
.trending .trend-item1::before {
    display: none;
}
.trending .trend-item2 {
    position: relative;
    overflow: hidden;
}
.trending .trend-item2 > a {
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.trending .trend-item2::before {
    display: none;
}
.trending .trend-image1 {
    position: relative;
    height: 100%;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
}
.trending .trend-image1 > a {
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    display: inline-block;
    transition: all ease-in-out 0.5s;
}
.section-shape {
    position: absolute;
    top: -96px;
    left: 0;
    width: 100%;
    height: 96px;
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 1;
}
.section-shape.section-shape1 {
    transform: rotate(180deg);
}
@media (max-width: 991px) {
    .section-shape {
        background-size: cover;
   }
}
@media (max-width: 767px) {
    .trending .trend-item .trend-image1 {
        height: 340px;
        margin-bottom: 1rem;
   }
    .trending .trend-item2 {
        height: 300px;
        border-radius: 10px;
        margin-bottom: 15px;
   }
    .trend-packages .trend-full .col-lg-5 {
        padding: 0 !important;
   }
}
@media (max-width: 400px) {
    .trending .trend-item .trend-image .trend-meta {
        position: relative;
        display: block !important;
        text-align: center;
   }
    .trending .trend-item .trend-image .trend-meta .entry-author {
        margin-bottom: 15px;
   }
}
.entry-author img {
    width: 36px !important;
    height: 36px !important;
    display: inline-block !important;
}

@media (max-width:1400px) {
    .banner .slider{
        height: 400px !important;
    }
    h1{
        font-size: 30px;
    }
    body{
        font-size: 13px;
    }
    h5{
        font-size: 15px;
    }
    h2{
        font-size: 25px;
    }
    h4{
        font-size: 18px;
    }
    .why-us .why-us-item .why-us-icon [class^="flaticon-"]::before, .why-us .why-us-item .why-us-icon i{
        font-size: 35px;
    }
    .testimonial .testimonial-item .details p, .testimonial .testimonial-item1 .details p{
        font-size: 15px !important;
    }
    .testimonial .testimonial-item .author-info img, .testimonial .testimonial-item1 .author-info img{
        width: 50px;
        height: 50px;
    }
}